<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.liaojl.shop.servlet.SessionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UserSession</filter-name>
    <filter-class>com.liaojl.shop.servlet.UserSession</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserSession</filter-name>
    <url-pattern>/index/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.liaojl.shop.test.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Types</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.Types</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.Index</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PptConfig</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.admin.PptConfig</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllTypes</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.admin.AllTypes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Produces</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.admin.Produces</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PptImgUpload</servlet-name>
    <servlet-class>com.liaojl.shop.servlet.admin.PptImgUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Types</servlet-name>
    <url-pattern>/index/types</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PptConfig</servlet-name>
    <url-pattern>/admin/pptconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllTypes</servlet-name>
    <url-pattern>/admin/alltypes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Produces</servlet-name>
    <url-pattern>/admin/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PptImgUpload</servlet-name>
    <url-pattern>/admin/pptupload</url-pattern>
  </servlet-mapping>
</web-app>